header {
  background-image: linear-gradient(to right, #9f37fd, #21d2fe);
  height: 60px;
  margin-bottom: 20px;
  color: lightcyan;
  text-align: end;
  padding-right: 10px;
}

.search-area h3 {
  padding-top: 10px;
  color: #9f37fd;
  font-size: 1.5em;
  margin-bottom: 10px;
}

.search-area h2 {
  color: #21d2fe;
  margin-bottom: 10px;
}

input[type="text"] {
  padding: 5px;
  margin-bottom: 10px;
  border: 2px solid #6b78fe;
  border-radius: 5px;
}

#search-button {
  padding: 5px;
  background-color: #6b78fe;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

#search-button:hover {
  background-color: #9f37fd;
  transition: 0.25s;
}

.search-results {
  border: 2px solid #21d2fe;
  border-radius: 5px;
}

#search-history {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

#search-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#clear-history {
  padding: 5px;
  background-color: #21d2fe;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

#clear-history:hover {
  background-color: #9f37fd;
  transition: 0.25s;
}

#forecast-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
}

#search-display {
  display: flex;
  flex-direction: row;
  margin-bottom: 20px;
  justify-content: space-between;
}

#forecast-container > div,
#search-display > div {
  flex: 0 0 auto;
}

.d-flex,
.custom-container {
  width: 100%;
  margin: 0 0 0 0 !important;
}

.first-card {
  box-sizing: border-box !important;
  size: x-large !important;
  width: 100% !important;
  height: auto !important;
  background-color: #6b78fe !important;
  color: white;
  border-radius: 5px !important;
  border: solid 2px white !important;
  margin: 0 auto !important;
  padding: 20px !important;
}

.other-cards {
  background-color: #6b78fe !important;
  color: white;
  border-radius: 5px;
  border: solid 2px white;
  padding: 10px;
  height: 350px !important;
  width: 100% !important;
}

#forecast {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}

#first-card-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

#parent {
  width: 100%;
}

#other-cards-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  gap: 10px;
  justify-content: center;
}

#other-cards-container > div {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.city-button {
  color: white;
  margin: 10px;
  display: flex;
  flex-direction: column;
}
