header {
  background-image: linear-gradient(to right, #9f37fd, #21d2fe);
  height: 60px;
  margin-bottom: 20px;
  color: lightcyan;
  text-align: end;
  padding-right: 10px;
}

.search-area h3 {
  padding-top: 10px;
  color: #9f37fd;
  font-size: 1.5em;
  margin-bottom: 10px;
}

.search-area h2 {
  color: #21d2fe;
  margin-bottom: 10px;
}

input[type="text"] {
  padding: 5px;
  margin-bottom: 10px;
  border: 2px solid #6b78fe;
  border-radius: 5px;
}

#search-button {
  padding: 5px;
  background-color: #6b78fe;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

#search-button:hover {
  background-color: #9f37fd;
  transition: 0.25s;
}

.search-results {
  border: 2px solid #21d2fe;
  border-radius: 5px;
}

#clear-history {
  padding: 5px;
  background-color: #21d2fe;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

#clear-history:hover {
  background-color: #9f37fd;
  transition: 0.25s;
}

#forecast-container {
  display: flex;
  flex-direction: row;
}

#search-display {
  display: flex;
  flex-direction: row;
  margin-bottom: 20px;
  justify-content: center;
}

.custom-container {
  margin-left: 10px !important;
}

.first-card {
  /* grid-row: 1;
  grid-column: 1 / -1 */
  width: 100% !important; /* or any desired width */
  height: auto !important;
  background-color: #6b78fe !important;
  color: white;
  border-radius: 5px !important;
  border: solid 2px white !important;
  margin-left: 10px !important;
  padding: 20px !important;
}

.card {
  /* grid-row:2 ; */
  background-color: #6b78fe !important;
  color: white;
  border-radius: 5px !important;
  border: solid 2px white !important;
  margin-left: 10px !important;
  max-width: 360px !important;
  height: 400px !important;
  padding: 10px !important;
}

#forecast {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

#first-card-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#other-cards-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card-header {
  justify-content: center !important;
  size: 20px !important;
}
